# -*- coding: utf-8 -*-

# bot nickname
NICKNAME = 'pycri'
REALNAME = 'pycri IRC bot'

# Network settings
NETWORK_ADDR = 'example.com'
NETWORK_PORT = 6667
NETWORK_USE_SSL = False

# Database settings
DB_NAME = '' # Leave empty if not using the database (mongodb which requires mongoengine and pymongo)

PLUGINS = (
    'load',
)
