# -*- coding: utf-8 -*-

# bot nickname
NICKNAME = 'pycri'
REALNAME = 'pycri IRC bot'

# Network settings
NETWORK_ADDR = 'example.com'
NETWORK_PORT = 6667
NETWORK_USE_SSL = False

# Database settings
DB_NAME = '' # Leave empty if not using the database (mongodb which requires mongoengine and pymongo)

# Fetch size for url-extensions that doesn't return a title
URL_SIZE_EXTENSIONS = (
    'jpg',
    'png',
    'gif',
    'bmp',
    'txt',
    'xml',
    'mp3',
    'avi',
    'psd',
    'svg',
    'exe',
    'app',
    'jar',
    'gz',
    'rar',
    'zip',
)

PLUGINS = (
    'core',
)
